.footer-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 200px;

  border: 1px solid #ccc;
  margin: 40px;
  margin-top: 80px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 20px;
}
.item {
  display: flex;
  width: 1600px;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding: 32px 0 0;
  gap: 50px;
}
.footer-text {
  width: 250px;
  font-size: 16px;
}
.ignress {
  flex: none;
}

@media (max-width: 375px) {
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 16px;

    width: 343px;
    height: 132px;
  }
}
