.title {
  margin: 2rem auto;
  margin-top: 100px;
  text-align: center;

  position: relative;
}
#profile__img {
  margin-top: 5px;
}
.icon {
  position: absolute;
  right: 15.53%;
  top: -15.95%;
  bottom: 14.95%;
  cursor: pointer;
}
.icon-1 {
  display: none;
  position: absolute;
  right: 15.53%;
  top: -15.95%;
  bottom: 14.95%;
  cursor: pointer;
}

@media (max-width: 375px) {
  .icon {
    position: absolute;
    right: -80.53%;
    top: -20.95%;
    bottom: 14.95%;
    cursor: pointer;
    display: none;
  }
  .icon-1 {
    position: absolute;
    right: -70.53%;
    top: -20.95%;
    bottom: 14.95%;
    cursor: pointer;
    display: block;
  }
}
